/* Base Layout */

* {
  box-sizing: border-box;

}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

 img {
  margin: 0 auto;
  max-width: 350px;
  width: 90%;
  height: 55%;

}

/* Main Layout Styles */
nav,
.bottom-nav{
  font-family: 'Work Sans', sans-serif;;
  font-weight: 400;
  letter-spacing: .05em;
  background-color: red;
  padding: 25px;
}


h1, .top-nav, .main-profile {
  text-align: center;
}

.top-nav, .top-nav li {
  width: 100%;
}

h1 a, .top-nav a {
  color: #000;
}

.top-nav {
  margin-top: 30px;
}

.top-nav li {
  padding: 10px 0;
  margin: 5px auto;
  background-color: #fff;
}

.top-nav a {
  text-transform: uppercase;
}

.main-profile img {
 padding-top: 35px;

}



h1 {
color: red;

}

body {
  margin: 0 auto;
  max-width: 1024px;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.Footer,
.skills {
 padding: 0px;
 margin: 0px;
 background-color: lightgray;
 border-bottom: ridge;
 text-align: center;
 }

h2 {
text-align: center;
}

.footer-p,
.number{
  /* margin: 5px;
  margin-bottom: 5px;
  padding: inherit;
  text-align: center; */
}



.columns p {
font-family: 'Work Sans', sans-serif;;
font-weight: 400;
/* letter-spacing: .05em; */
/* padding: 10px;
margin: 15px: */
font-stretch: extra-condensed;


}

.Bottom-nav,
.bottom-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  padding: 0px;
  margin: 0px;
  background-color: lightgray;


}

.bottom-nav li
a{
    display: block;
    margin: 5px 20px;
    text-align: justify;
    width: 70%;
    white-space: nowrap;
    overflow-x: auto;
    overflow: hidden;


}

.bottom-nav li.full {
  display: none;
}

.columns{
margin: auto;
width: 100%;
padding-left: 5px;
text-align: center;


}

.top  {
  padding-right: 1px;
  flex-shrink: 0;
}

#portfolio {
 margin: 15px 15px;
 padding: 10px 15px;
}

.OneP,
.TwoP,
.ThreeP,
.FourP,
.FiveP,
.SixP {
padding-left: 5px:
padding-right: 5px;

}








/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {

  .bottom-nav li.top {
    display: none;
  }
  .bottom-nav li.full {
    display: inline-block;
  }



  .top-nav{
    margin-top: 0;
}

.columns {
 display: flex;
 flex-wrap: wrap;
}

.col {
    flex-basis: calc(50% - 20px);
}

.one,
.two {
 flex: 50%;
}

.three,
.four{
 flex: 50%;
}

.five,
.six {
  flex: 50%;
}


.main-profile {
 display: flex;
 flex-direction: row-reverse;
 align-items: center;
 justify-content: center;
 }




.flex-container {
 flex-direction: column;
 align-items: center;
justify-content: space-around;

}

  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    background-color: transparent;
  }

  .top-nav li:last-child {
    margin-right: 0;
  }

  .top-nav a {
    color: #fff;
  }
}

@media (min-width: 1024px) {


  .bottom-nav li .top {
  display: none;
}

   .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

   }

   .col {
       flex-basis: calc(50% - 20px);
   }

  .top-nav,
  .top-nav li {
    width: initial;
    margin-bottom: 0;
  }

  .flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
}

  .main-profile {
 display: flex;
 flex-direction: row-reverse;
 align-items: center;
 justify-content: space-around;
 }

 .top-image {
  padding-left: 50px;
  margin: 5px auto;
  max-width: 350px;
  width: 90%;
  height: 55%;
}



.one,
.two,
.three {
  flex: 33%;
  flex-direction: column;
}

.four,
.five,
.six {
  flex: 33%;
  flex-direction: row;
}

}
